/* global styles */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html {
    font-size:62.5%;
    --background-color: hsl(30, 38%, 92%);
    --text-background: hsl(0, 0%, 100%);
    --subheading-color:hsl(228, 12%, 48%);
    --main-heading-color:hsl(212, 21%, 14%);
    --button-background: hsl(158, 36%, 37%);
}


body {
    background-color: var(--background-color);
    
}

p {
    font-size:1.4rem;
    line-height:1.6;
    margin-bottom:2rem;
    font-family: 'Montserrat', serif;
    color:var(--subheading-color);
}


/* styles card component */
.card {
    width:50%;
    display:flex;
    justify-content:center;
    margin:50% auto;
    background-color: var(--text-background);
    border-radius:2rem;
    flex-wrap:wrap;
}
.card-image {
    flex:1 1 20rem;
    border-radius: 2rem 0 0 2rem;
}
.card-image img {
    width:100%;
    height:100%;
    object-fit: cover;
    border-radius:2rem 0 0 2rem;
}
.card-text {
    flex: 1 1 20rem;
    padding:1.5rem;
}
.card-text-header {
    margin:2rem 0rem;
}

.card-text-header h1 {
    font-size:1.8rem;
    color:var(--subheading-color);
    margin-bottom: 1rem;
    font-weight:700;
    font-family: 'Fraunces', serif;
    letter-spacing: 1.5rem;
}

.card-text-header h2 {
    font-size:4.8rem;
    font-family: 'Fraunces', serif;
    font-weight:700;
    color:var(--main-heading-color);
}

.price {
    margin:2rem 0;
}

span {
    font-family:'Fraunces', serif;
}

.sale-price {
    font-size:3.6rem;
    color:var(--button-background);
    margin-right:1rem;
}

.original-price {
    text-decoration:line-through;
    font-size:2rem;
    color:var(--subheading-color);
}

button {
    background-color: var(--button-background);
    border:none;
    color: white;
    padding:1rem 3rem;
    font-family: 'Montserrat', serif;
}

.btn span {
    margin-left:1rem;
    font-size: 1.8rem;
}

.btn:hover {
    background-color:hsla(158, 36%, 20%) ;
    cursor:pointer;
}

/* media query for mobile */
@media screen and (max-width: 375px) {
    html {
        font-size:55%;
    }

    .card {
        width:90%;
        margin:2rem auto;
        border-radius:0px;
    }
    .card-image {
        border-radius:0px;
    }

    .card-image img {
        border-radius:0px;
    }
    .card-text {
        padding:2rem;
    }
}